//META{"name":"Black Nord","description":"Themes your Discord using Black Nord colors.","author":"corytertel","version":"1.0"}*//
/*
   Based on the Black Nord color scheme
*/

:root {
    --interactive-normal: #d8dee9;
    --text-normal: #d8dee9;
		--text-link: #aeb3bb;
		--header-primary: #d8dee9;
    --background-primary: #000507;
    --background-secondary: #0d1319;
    --background-tertiary: #151d25;
    --channels-default: #e5e9f0;
    --deprecated-panel-background: #0d1319;
    --channeltextarea-background: #151d25;
}

/* Popout / menu colors. */
.da-popouts .da-container, .da-friendsTableHeader, .da-friendsTable, .da-autocomplete, .da-themedPopout, .da-header, .da-footer, .da-userPopout > *, .da-systemPad, .da-autocompleteHeaderBackground {
  background-color: var(--background-secondary) !important;
  border-color: transparent !important;
}

.theme-dark .da-messageGroupWrapper {
  background-color: var(--background-tertiary) !important;
  border-color: transparent;
}

/* Each individual item in popouts has a slight gradient - we clear it here. */
.theme-dark .da-option:after {
  background-image: none !important;
}

/* Force BetterDiscord settings items to match normal settings items. */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item {
    color: var(--interactive-normal);
}

/* Recolor BD settings headers, Nitro settings item and Add Channel icon */
.theme-dark #bd-settings-sidebar .ui-tab-bar-header, div[style*="color: rgb(114, 137, 218);"], .da-addButtonIcon  {
    color: var(--channels-default) !important;
}

/* Force BetterDiscord *active* settings items to match normal active settings items. */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected, .theme-dark .da-autocompleteRow .da-selectorSelected {
    background-color: var(--background-modifier-selected);
    color: var(--interactive-active);
}

/* Recolor the emoji button in the chat bar to match the color scheme. */
.da-emojiButtonNormal .da-contents .da-sprite {
    filter: sepia(1) !important;
}


/* Recolor scrollbar track. */
.da-messagesWrapper .da-scroller::-webkit-scrollbar,
.da-messagesWrapper .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--background-tertiary) !important;
    border-color: rgba(0,0,0,0) !important;
}

/* Recolor scrollbar thumbs. */
.da-scrollerThemed .da-scroller::-webkit-scrollbar-thumb,
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

/* Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #bf616a;
}

/* Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: #a3be8c;
}

/* Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
    color: #ebcb8b;
}

/* Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #81a1c1;
}

/* Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #b48ead;
}

/* Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: #88c0d0;
}

/* Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #e5e9f0;
}

/* Gray */
.hljs-comment {
  color: #3b4252;
}

/* Magenta */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #8c738c;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}

::placeholder, body, button, input, select, textarea {
    font-family: 'Tinos Nerd Font' ;
}
