/* XFCE PANEL */
.xfce4-panel {
    background-color: #0f0f0f;
    border-radius: 20px;
    color: #0f0f0f;
}

/*Applications Button*/

#whiskermenu-button {
background-color: #4c4c4c;
color: #f0f0f0;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin: 8px;
padding: 10px;
}

#whiskermenu-button:checked {
background-color: #c49ea0;
color: #f0f0f0;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin: 8px;
padding: 10px;
}

#whiskermenu-button:hover {
background-color: #c49ea0;
color: #f0f0f0;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
margin: 8px;
padding: 10px;
}

#pager-4 .horizontal {
    font-weight: bold;
    font-size: 32px;
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#pager-4 #xfce-panel-toggle-button:checked {
    background-color: #c49ea0;
    color: #0f0f0f;
    border-radius: 8px;
}

#pager-4 #xfce-panel-toggle-button:hover { 
    border-radius: 8px;
}

#xfce4-notification-plugin {
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#xfce4-notification-plugin:checked {
    background-color: #4c4c4c;
}

#sn-button {
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#sn-button:checked {
    background-color: #4c4c4c;
}

#indicator-button {
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#indicator-button:checked {
    background-color: #4c4c4c;
}

#pulseaudio-button {
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#pulseaudio-button:checked {
    background-color: #4c4c4c;
}

#clock-button {
    font-size: 32px;
    background-color: #262626;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
}
#clock-button:checked {
    background-color: #4c4c4c;
}

#xfce-panel-button image {
    color: #c49ea0;
    -gtk-icon-transform: scale(1);
}
